<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.apache.cordova.plugins.PickerView"
	version="1.0.0">

	<name>PickerView</name>

	<asset src="www/PickerView.js" target="PickerView.js" />

	<!-- ios -->
	<platform name="ios">

	    <config-file target="config.xml" parent="/*">
			<feature name="PickerView">
				<param name="ios-package" value="PickerView" />
			</feature>
		</config-file>

		<js-module src="www/PickerView.js" name="PickerView">
			<clobbers target="camera" />
		</js-module>

		<header-file src="src/ios/PickerView.h" />
		<source-file src="src/ios/PickerView.m" />
	</platform>

</plugin>

